@{
    Layout = null;
}
<html>
<head>
    <title>School Management System</title>
</head>
<body>
    <div class="jumbotron">
        <h1>School Management System</h1>
        <h2>This is a school management portal built for schools. This project was developed by Anna Filon</h2>
        <a href="@Url.Action("Index", "Courses")" class="btn btn-danger btn-lg" style="text-align:center;">Visit Portal</a>
    </div>
</body>
</html>