@model School.WebApp.Models.CourseModel
@{
    ViewData["Title"] = "Info";
}
<h1>Course Updated</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.IsActivated
        </dd>
    </dl>
</div>